<%# Create this new file: views/inventory/delete-confirm.ejs %>

<div class="account-form-container">
    <% if (title) { %>
        <h1><%- title %></h1>
    <% } else {
        res.redirect('/')
    } %>

    <%- messages() %>

    <p class="notice">Confirm Deletion - This is permanent and cannot be undone.</p>

    <form id="deleteForm" class="account-form" action="/inv/delete" method="post">
        <fieldset>
            <legend>Vehicle Details</legend>

            <label for="inv_make">Marca:</label>
            <input type="text" name="inv_make" readonly value="<%= locals.inv_make %>">

            <label for="inv_model">Modelo:</label>
            <input type="text" name="inv_model" readonly value="<%= locals.inv_model %>">

            <label for="inv_year">Ano:</label>
            <input type="number" name="inv_year" readonly value="<%= locals.inv_year %>">

            <label for="inv_price">Preço:</label>
            <input type="number" name="inv_price" readonly value="<%= locals.inv_price %>">

            <button type="submit">Deletar Veículo</button>
            
            <input type="hidden" name="inv_id" value="<%= locals.inv_id %>">
        </fieldset>
    </form>
</div>